mixin head(titleText, links, keywords, description)
  meta(charset="utf-8", lang="es")
  title=titleText
  //meta(http-equiv="Content-Security-Policy", content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *")
  meta(name="format-detection", content="telephone=no")
  meta(name="msapplication-tap-highlight", content="no")
  meta(name="description" content=description)
  meta(name="keywords" content=keywords)
  meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width")
  //- each ls in links
    link(rel="stylesheet", href=ls)  
  link(rel="stylesheet", href="assets/css/style.css")
  //link(rel="icon", type="image/png", href="favicon.png")
  


mixin logo(logo, titulo, dominio)
  .logo: a(href=dominio): img(src="assets/img/#{logo}", alt=titulo)



mixin navigation(nav)
  ons-template(id="menu.html")
    .text-center(onclick="menu.setMainPage('inicio.html', {closeMenu:true});  upgrade();")
        img(src="assets/img/scope.svg", alt="SCOPE").secondLogo
    ons-list
      - each n in nav
        ons-list-item(modifier="chevron", onclick="menu.setMainPage('#{n[0]}.html', {closeMenu:true});  upgrade();", class="#{n[0]}")
          ons-icon(icon="#{n[2]}")
          |  #{n[1]}
          
  ons-template(id="menuRight.html")
    .m10
      .text-center(onclick="menu.setMainPage('inicio.html', {closeMenu:true});  upgrade();")
        img(src="assets/img/scope.svg", alt="SCOPE").secondLogo
      p Dé click en el botón siguiente para sincronizar los datos guardados del dispositivo con la base de datos global.
      p Es recomendado tener una conexión a internet estable, de preferencia mediante WiFi si la cantidad de imagenes a cargar es mayor a 10.
      .text-center
        button(type="button", ng-click="alert('sincronizando')").mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.syncDBBtn
          ons-icon(icon="ion-android-sync")
    hr
    .credits
      .text-center
        p Aplicación desarrollada por <br>
          strong Servicios Integrados en Ingeniería e Informática.
       

    
          
            

mixin navigationFooter(activePage, nav)
  ul
    - each n in nav
      li: a(href="#{n[0]}.html", class=activePage=== "#{n[0]}" ? "active" : "")=n[1]  
      

 

mixin scripts()
  - each sc in javascripts
    script(src="assets/js/#{sc}")



      

mixin sliding-menu
  ons-sliding-menu(main-page="fullContainer.html", menu-page="menuRight.html", side="right", max-slide-distance="450px", var="menuRight", swipe-target-width="200px", swipeable="false")
  ons-template(id="fullContainer.html")
    ons-page
        ons-sliding-menu(main-page="inicio.html", menu-page="menu.html", side="left", max-slide-distance="350px", var="menu", swipe-target-width="200px")



mixin ons-toolbar(pageTitle)
  ons-toolbar
    .left
      ons-toolbar-button(ng-click="menu.toggleMenu()")
        ons-icon(icon="ion-navicon")
    .center=pageTitle
    .right
      ons-toolbar-button(ng-click="menuRight.setMenuPage('menuRight.html'); menuRight.toggleMenu()")
        ons-icon(icon="ion-gear-a")

mixin input(id, label, type, onClick)
  - if(!type)
    - type='text';
  - if(onClick)
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.inputDeployer
      input(type=type, id=id, name=id, ng-model="campos.#{id}").mdl-textfield__input
      label(for=id).mdl-textfield__label
        span=label
        |  
      button(type="button", onClick="openMenuSitios('#{id}', '#{onClick}')").mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored
        ons-icon(icon="ion-android-list")
  - else
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
      input(type=type, id=id, name=id, ng-model="campos.#{id}").mdl-textfield__input
      label(for=id).mdl-textfield__label=label


mixin hrcolors(cl)
  .hrcolors(class=cl)
    div
    div
    div
    div
    div
    div
    div
    div
